<center>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
</center>

<section id="about" class="about">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <h2>About</h2>
            <p>Who we are?</p>
        </div>

        <div class="row content" data-aos="fade-up">
            <div class="col-lg-6">
                <p>
                    Daeb Services is a webite Develop by Diego Estrada that provides various services around Canada, 
                    After COVID Season many companies try to grow facind many difficult situationas and this website 
                    is a solution that allow people to post their services magna aliqua.
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Website Development Solutions</li>
                    <li><i class="ri-check-double-line"></i> Mobile Apps Design and Development</li>
                    <li><i class="ri-check-double-line"></i> IT Consultant services</li>
                    <li><i class="ri-check-double-line"></i> IOT services</li>
                </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    If you or your company need and app or any IT service do not hesitate to contact our company to provide you the best service with our staff
                </p>
                <a href="/contact" class="btn-learn-more">Learn More</a>
            </div>
        </div>

    </div>
</section><!-- End About Section -->