<h1>Add A Service</h1>

<form method="post">
    <fieldset class="form-group">
        <label class="control-label col-md-2">Name: *</label>
        <input name="name" id="name" required />
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2">Province: *</label>
        <input name="province" id="province"/>
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2">Mail: *</label>
        <input name="mail" id="mail" required />
    </fieldset>
    <button class="col-md-offset-2 btn btn-primary">Save</button>
</form>